.custom-card {
    border-radius: 8px !important;
    border: 1px solid #dddbda;
    background-color: white;
    height: 100%;
}

.custom-header-title {
    color: #004487;
    font-weight: 700;
}

.custom-icon-setting {
    --slds-c-icon-color-background: #0070d2;
}

.campaign-modal-content {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

:host {
    --slds-c-combobox-listbox-max-height: 250px;
}
