.custom-card {
    border-radius: 8px !important;
    border: 1px solid #dddbda;
    background-color: white;
    height: 100%;
}

.custom-header-title {
    color: #004487;
    font-weight: 700;
}

.custom-icon-setting {
    --slds-c-icon-color-background: #0070d2; /* Màu xanh khác để phân biệt tab */
}

.slds-modal__content {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

:host {
    --slds-c-combobox-listbox-max-height: 250px;
}
/* Các class nút bấm (Copy từ file css cũ để đồng bộ) */
.btn-round { border-radius: 20px !important; padding: 0 20px !important; font-weight: 600 !important; }
.btn-brand-blue { background-color: #0070d2 !important; border-color: #0070d2 !important; }