.error-section {
    --slds-c-accordion-section-header-color: #ea001e;
}

.slds-form-element__label {
    font-size: 0.75rem;
    font-weight: 400;
}

.slds-text-body_regular {
    font-weight: 500;
}
