.result-error {
    margin-top: 0.75rem;
    font-weight: 700;
    color: #ba0517;
}

.input-row {
    display: flex;
    column-gap: 1rem;
    align-items: end;
}

.input-row lightning-input {
    flex: 0 1 16rem;
    max-width: 16rem;
    min-width: 0;
}

.button-wrap {
    flex: 0 0 auto;
}