.createnew {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.close-modal {
    cursor: pointer;
}

.selectionGroup {
    display: flex;
    position: relative;
    background: #fff;
    border: 1px solid #dddbda;
    border-top: 0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    padding: 1px 2px;
    height: auto !important;
}

.error {
    color: rgb(182, 5, 84);
    margin-top: 0;
    font-size: 0.75rem;
    font-weight: 400;
}

/* Khi ô input ở trạng thái readonly, ẩn con trỏ nhấp nháy */
.readonly-no-cursor {
    caret-color: transparent;
    cursor: default; /* Đổi con trỏ chuột từ dạng chữ I sang dạng mũi tên cho giống nhãn (label) */
}

/* Đảm bảo khi hover vào ô đã chọn không hiện khung xanh quá đậm nếu không cần thiết */
.readonly-no-cursor:focus {
    outline: none;
    box-shadow: none;
    border-color: #dddbda; /* Giữ màu border mặc định của SLDS */
}