.custom-modal {
    max-width: 960px;
    width: 960px;
    border-radius: 24px;
    overflow: hidden;
}

.custom-header {
    text-align: center;
    border-bottom: 1px solid #d8dde6;
    padding: 16px 24px;
}

.modal-title {
    font-size: 28px;
    font-weight: 700;
    color: #16325c;
}

.modal-body {
    padding: 24px 36px;
}
.required-text {
    text-align: right;
    font-size: 12px;
    color: #444;
    margin-bottom: 12px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}
.required {
    color: #c23934;
    font-weight: 700;
}

.section-header {
    background: #f3f3f3;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: #3e3e3c;
    margin-bottom: 24px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 24px;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
}

.field-label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #2e2e2e;
}

.checkbox-wrapper {
    margin-top: 10px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 24px;
    border-top: 1px solid #d8dde6;
}

.lookup-container {
    position: relative;
}

.lookup-item {
    padding: 10px 12px;
    cursor: pointer;
}

.lookup-item:hover {
    background: #f3f3f3;
}

.lookup-empty {
    padding: 12px;
    color: #999;
}
.slds-has-error .slds-input {
    border-color: rgb(234, 0, 30);
}
.error-input {
    border: 2px solid #ea001e !important;
    border-radius: 0.25rem;
}

.custom-error {
    color: #c23934;;
    font-size: 0.75rem; 
    margin-top: 0.25rem;
    line-height: 1.25;
}
.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 8px;
}

.slds-pill {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: 1.5px solid #c9c7c5;
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 13px;
    font-weight: 400;
    background: #ffffff;
    color: #3e3e3c;
    line-height: 1.4;
}

.slds-pill__label {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slds-pill__remove {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    color: #706e6b;
    line-height: 1;
    transition: color 0.15s;
}

.slds-pill__remove:hover {
    color: #c23934;
}