.container {
    padding: 16px;
    
}

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.field {
    flex: 1;
}

.label {
    font-size: 13px;
    margin-bottom: 6px;
    display: block;
    color: #3e3e3c;
}

.required {
    color: red;
    margin-right: 2px;
}

.button-container {
    margin-top: 8px;
}